.card_div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;

  .card {
    position: relative;
    background-color: #f2f3e5 !important;
    height: 532px;
    width: 300px;
    box-shadow: 0px 5px 12px 7px rgba(0, 0, 0, 0.2) !important;

    border-radius: 20px !important ;

    &:hover {
      width: 309px;
      height: 535px;

      box-shadow: 0px 5px 12px 14px rgba(0, 0, 0, 0.2) !important;
    }
  }

  .notfound {
    text-transform: capitalize;
    text-align: center;
  }
}

.btn {
  position: absolute;
  top: 12px;
  left: 6px;
}
